$pageWidth: 750px;
$mobileBreakpoint: 0px;
$tabletBreakpoint: 0px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
